* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: capitalize;
	font-family: 'Lobster', cursive;
	letter-spacing: .2rem;
}

section h2 {
	margin: auto;
	border-bottom: 1px solid red;
	padding-bottom: 1rem;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

p {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.container {
	max-width: 1400px;
	margin: auto auto;
}

/* header stylea */
.header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 1rem;
	min-height: 10vh;
}

.brand-name {
	text-align: center;
}

.brand-title {
	color: brown;
	font-size: 1.25rem;
	font-family: 'Bungee Spice', cursive;
	font-weight: 400;
	margin-bottom: 0rem;
}

.brand-msg {
	font-size: .8rem;
	font-family: 'Pacifico', cursive;
	margin-top: 0rem;
	text-transform: capitalize;
	color: dimgrey;
}

.mobile-nav {
	/* border: .125rem solid rgba(0, 0, 0, .45);; */
	border-radius: .25rem;
	background-color: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	padding: 2.5px 5px;
}

.nav-toggle {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.nav-toggle span {
	width: 30px;
	height: 3px;
	background-color: black;
	margin: 3px 0;
}

.nav-links {
	list-style: none;
	margin-top: 0rem;
	background-color: rgb(255, 255, 255);
	padding: .5rem;
	display: none;
}

.nav-item {
	margin: .5rem 0rem;
}

.nav-link {
	text-transform: capitalize;
	color: rgb(46, 45, 45);
	font-size: 1.1rem;
}

.nav-link:hover {
	color: rgb(2, 2, 2);
	transition: all .3s ease-in-out;
}

/* main styles here starting with banner section*/
#banner {
	background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .55)), url(../img/hotel-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1rem;
	color: white;
}

.welcome-note h2 {
	font-family: 'Lobster', cursive;
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 1.5rem;
	width: 100%;
	border: none;
	padding: 0rem;
}

.welcome-note p {
	margin-bottom: 1rem;
	font-family: 'Nunito Sans', sans-serif;
	text-align: right;
}

.form-section #reserve-form {
	max-width: 100%;
}

#reserve-form {
	background-color: white;
	padding: 1rem;
}

#reserve-form input,
#reserve-form label,
#reserve-form button,
#reserve-form select {
	width: 100%;
	padding: .2rem;
	color: rgb(0, 0, 0);
	font-family: Verdana, Geneva, Tahoma, cursive, sans-serif;
	font-size: .95rem;
}

#reserve-form .input {
	border: none;
	border-bottom: .1rem solid rgba(0, 0, 0, .35);
	margin-top: 1rem;
	/* margin-top: 1rem auto; */
	padding: .5rem .25rem;
}

#reserve-form .danger {
	border: .1rem solid red;
}

.form-section .hidden {
	display: none;
}

.form-section .show-error {
	display: block;
}

.form-section .error-message {
	color: red;
	font-size: 1rem;
}

#reserve-form input:active {
	border: none;
}

#reserve-form label {
	color: darkgrey;
}

#reserve-form select {
	margin-bottom: 1rem;
}

#reserve-form option {
	font-size: .9rem;
	font-family: cursive;
}

#reserve-form button {
	background-color: inherit;
	border: .1rem solid rgba(0, 0, 0, .35);
	border-radius: 5%;
	margin-top: 1rem;
	padding: .75rem 0rem;
	color: black;
	font-weight: 700;
	transition: all .3s ease-in-out;
}

#reserve-form button:hover {
	background-color: rgba(0, 0, 0, .75);
	color: white;
}

/* about section styles */
#about {
	padding: 1rem;
	text-align: center;
}

#about h2 {
	font-size: 1.4rem;
	color: darkgray;
	margin-bottom: 1rem;
	color: darkolivegreen;
}

#about p {
	font-family: 'Nunito Sans', sans-serif;
}

/* explore section styles */
#explore {
	background-color: white;
	padding: 1rem;
}

#explore h2 {
	text-align: center;
	color: black;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#explore .card-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}

#explore .card-container > a {
	display: block;
}

.card {
	border: .1rem solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	margin: 1rem auto;
	background-color: white;
	color: rgb(41, 41, 41);
	width: 100%;
}

.card:hover {
	box-shadow: -.5rem 1rem .25rem gray;
	transition: .3s all ease-in-out;
}

.card-img figcaption {
	color: rgb(136, 38, 38);
	margin: 0;
}

.card-body {
	padding: .5rem;
	text-align: justify;
}

#contact {
	padding: 1rem;
	background-color: white;
	color: black;
}

.contact-main {
	text-align: center;
}

#contact h2 {
	color: black;
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

.contact-main p {
	margin-bottom: 1rem;
}

.contact-main a {
	color: rgb(16, 53, 175);
	font-size: 1.3rem;
}

#contact .address {
	margin: 1rem auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#contact .contact-form {
	display: block;
}

.contact-form h3 {
	text-align: center;
	margin: 1rem auto;
	font-family: 'Lobster', cursive;
	letter-spacing: .25rem;
	font-weight: 200;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	width: 100%;
	padding: 15px;
	margin: 5px auto;
	border: .1rem solid rgba(0, 0, 0, .125);
	border-radius: 5px;
}

.contact-form textarea {
	resize: vertical;
}

.contact-form button {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background-color: black;
	color: white;
	border: .1rem solid rgba(0, 0, 0, .125);
	border-radius: 5px;
	transition: all .5s ease-in-out;
	cursor: pointer;
}

.contact-form button:hover {
	background-color: white;
	color: black;
}

.social-accounts h3 {
	font-family: Akaya, sans-serif;
}

.footer {
	background-color: rgba(34, 30, 30, 0.95);
	color: white;
	padding: 1rem;
	font-family: Roboto, sans-serif;
	font-weight: 200;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.footer a {
	color: rgb(224, 224, 224);
	display: inline-block;
	margin: .5rem 0rem;
	transition: all .35s ease-in-out;
}

.footer .sponsors {
	display: flex;
	justify-content: space-between;
}

.footer a:hover {
	color: rgb(39, 39, 228);
}

.footer .social-accounts,
.footer .quick-links,
.footer .sponsors {
	margin: 1rem 0rem;
}

.quick-links a {
	color: gray;
	display: block;
	margin: .5rem 0rem;
}

#blog {
	padding: 1rem;
}

#blog h2 {
	color: rgb(141, 134, 134);
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

#blog hr {
	margin: 1rem auto;
}

#blog .post {
	margin: 1rem auto;
	background-color: rgba(0, 0, 0, .03);
}

#blog .card-body {
	padding: 0;
	margin-top: .5rem;
}

#blog .card-body a {
	font-size: 1.2rem;
	display: block;
	margin: .5rem auto;
	text-align: center;
}

#contact .social-wrap {
	width: 50%;
}

.social-wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.social-icon {
	font-size: 2rem;
}

.social-icon:hover {
	transform: scale(1.5);
	transition: .3s linear ease-in-out;
}

.fa-facebook,
.fa-twitter {
	color: rgb(50, 50, 209);
}

.fa-facebook:hover,
.fa-twitter:hover {
	color: rgb(52, 52, 226);
}

.fa-instagram,
.fa-pinterest {
	color: rgb(238, 65, 65);
}

.fa-instagram:hover,
.fa-pinterest:hover {
	color: rgb(216, 41, 41);
}
