* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.container {
  max-width: 1400px;
  margin: auto auto;
}

/* header stylea */
.header {
  background-color: white;
}

.brand-name {
  text-align: center;
}

.brand-title {
  color: brown;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0rem;
}

.brand-msg {
  font-size: .8rem;
  margin-top: 0rem;
  text-transform: capitalize;
  color: dimgrey;
}

.nav-links {
  list-style: none;
  margin-top: 0rem;
  background-color: dimgrey;
  padding: .5rem;
}

.nav-item {
  margin: .5rem auto;
  margin-left: .5rem;
}

.nav-link {
  text-transform: capitalize;
  color: white;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: darkgrey;
  transition: all .3s ease-in-out;
  border-bottom: .1rem solid white;
}

.nav-sm {
  display: none;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
 
/* main styles here starting with banner section*/
#banner {
  background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .55)), url(../img/hotel-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  color: white;
}

.welcome-note h2 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.welcome-note p {
  margin-bottom: 1rem;
  text-align: right;
}

.form-section #reserve-form {
  max-width: 100%;
}

#reserve-form {
  background-color: white;
  padding: 1rem;
}

#reserve-form input,
#reserve-form label,
#reserve-form button,
#reserve-form select {
  width: 100%;
  padding: .2rem;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, cursive, sans-serif;
  font-size: .95rem;
}

#reserve-form input {
  border: none;
  border-bottom: .1rem solid rgba(0, 0, 0, .35);
  margin: .7rem auto;
}

#reserve-form label {
  color: darkgrey;
}

#reserve-form select {
  margin-bottom: 1rem;
}

#reserve-form option {
  font-size: .9rem;
  font-family: cursive;
}

#reserve-form button {
  background-color: inherit;
  border: .1rem solid brown;
  border-radius: 5%;
  color: brown;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

#reserve-form button:hover {
  background-color: brown;
  color: white;
}

/* about section styles */
#about {
  padding: 1rem;
  text-align: center;
}

#about h2 {
  font-size: 1.4rem;
  color: darkgray;
  margin-bottom: 1rem;
  color: darkolivegreen;
}

/* explore section styles */
#explore {
  background-color: #333;
  padding: 1rem;
}

#explore h2 {
  text-align: center;
  color: aliceblue;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#explore .card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  border: .1rem solid rgba(0, 0, 0, .125);
  margin: 1rem auto;
  background-color: white;
}

.card-img figcaption {
  color: cornflowerblue;
  margin: 0;
}

.card-body {
  padding: .5rem 1rem;
  text-align: justify;
}

.card-link {
  display: block;
  color: blue;
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: center;
  padding: .5rem 0;
  border: .1rem solid rgba(0, 0, 150, .75);
  transition: all .35s ease-out;
}

.card-link:hover {
  background-color: rgba(0, 0, 150, .75);
  color: white;
}

#contact {
  padding: 1rem;
  background-color: slateblue;
  color: white;
}

.contact-main {
  text-align: center;
}

.contact-main h2 {
  color: brown;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.contact-main p {
  margin-bottom: 1rem;
}

.contact-main a {
  color: wheat;
  font-size: 1.3rem;
}

.address {
  margin: 1rem auto;
}

.social-accounts h3 {
  font-family: monospace;
}

.footer {
  background-color: rgba(0, 0, 0, .95);
  color: white;
  padding: 1rem;
  font-family: cursive;
  font-weight: 200;
}

.footer a {
  color: darkgrey;
  transition: all .35s ease-in-out;
}

.footer a:hover {
  color: blue;
}

.footer hr {
  margin: 1rem auto;
}

#blog {
  padding: 1rem;
}

#blog h2 {
  color: brown;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#blog hr {
  margin: 1rem auto;
}

#blog .post {
  margin: 1rem auto;
  background-color: rgba(0, 0, 0, .03);
}

#blog .card-body {
  padding: 0;
  margin-top: .5rem;
}

#blog .card-body a {
  font-size: 1.2rem;
  display: block;
  margin: .5rem auto;
  text-align: center;
}

#contact .social-wrap {
  width: 50%;
}

.social-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.social-icon {
  font-size: 1.5rem;
}

.fa-facebook, .fa-twitter {
  color: blue;
}

.fa-facebook:hover, .fa-twitter:hover {
  color: rgb(0, 0, 110);
}

.fa-instagram, .fa-pinterest {
  color: red;
}

.fa-instagram:hover, .fa-pinterest:hover {
  color: rgb(110, 0, 0);
}